.btn {
  display: inline-block;
  padding: 21px 140px;
  border-radius: $border-radius-sm;
  margin-top: 36px;

  &.atgd {
    background: linear-gradient(113deg, #63c7d3 14.71%, $color-abode-teal-light 100.23%);
    color: $color-white;

    &:hover {
      background: linear-gradient(
        113deg,
        $color-abode-teal-light 14.71%,
        $color-abode-teal-light 100.23%
      );
    }
  }
  &.orange {
    border-radius: 6px;
    background: linear-gradient(113deg, $color-abode-orange 14.71%, $color-abode-orange 100.23%);
    color: $color-white;

    &:hover {
      background: linear-gradient(113deg, $color-abode-orange 14.71%, $color-abode-orange 100.23%);
    }
  }
}

.card-btn {
  padding: 5px 10px;
  min-width: 80px;
  font-size: 12px;
  background-color: $dash-acd-footer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: $color-white;
  &.right {
    justify-content: flex-end;
  }
  &.no-bg {
    background-color: transparent;
  }
}

.c-btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 43px;
  font-size: 14px;
  background-color: #ccc;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 6px;
  &.withdraw {
    background-color: #ffe0d3;
    color: #cc4b14;
    font-weight: 700;
  }
  &.add-money {
    background-color: #e9d9ff;
    color: #51238d;
    font-weight: 700;
  }
  &.settings {
    background-color: #d2efff;
    color: #086d79;
    font-weight: 700;
  }
}

.btn-primary {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  // background-color: $dash-abode-color;
  height: 45px;
  padding-inline: 20px;
  background: linear-gradient(113.11deg, #63c7d3 14.71%, #0593a5 100.23%);
  border-radius: 6px;
  font-size: 14px;
  .-icon {
    margin-right: 10px;
  }
}

.app-btn {
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 6px;
  min-width: 80px;
  height: 41px;
  background-color: $btn-prim;
  font-size: 14px;
  font-weight: 700;
  color: $color-white;
  &.orang-btn {
    background: $btn-orange;
  }
  &.btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
