@font-face {
	font-family: $font-satoshi;
	src: url('@/assets/fonts/Satoshi-Light.otf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $font-satoshi;
	src: url('@/assets/fonts/Satoshi-Regular.otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $font-satoshi;
	src: url('@/assets/fonts/Satoshi-Bold.otf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: $font-satoshi;
	src: url('@/assets/fonts/Satoshi-Medium.otf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
