.-icon,
.svg-icon {
    width: 22px;
    height: 22px;
    display: block;
    margin: 0;
    cursor: pointer;

    &.arrow {
        width: 16px;
        height: 13px;
    }

    i {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 100%;
        display: block;
        stroke: inherit;
    }

    svg {
        stroke: inherit;
    }

    // transition: $transition;
}

.right-arrow-icon {
    background-image: url("@/assets/svgs/right-arrow.svg");
    color: inherit;
}

.notification-active {
    background-image: url("@/assets/svgs/notification-active.svg");
    color: inherit;
}

.down-arrow {
    background-image: url("@/assets/svgs/down-arrow.svg");
    color: inherit;
}

.dashboard {
    background-image: url("@/assets/svgs/dashboard.svg");
}
.assets {
    background-image: url("@/assets/svgs/assets.svg");
}
.mortgage {
    background-image: url("@/assets/svgs/mortgage.svg");
}
.savings {
    background-image: url("@/assets/svgs/savings.svg");
}

.wallet {
    background-image: url("@/assets/svgs/wallet-n.svg");
}

.referral {
    background-image: url("@/assets/svgs/referral.svg");
}

.marketplace {
    background-image: url("@/assets/svgs/marketplace.svg");
}
.profile {
    background-image: url("@/assets/svgs/profile.svg");
}
.logout {
    background-image: url("@/assets/svgs/logout.svg");
}
.search {
    background-image: url("@/assets/svgs/search.svg");
}
.three-dots {
    background-image: url("@/assets/svgs/three-dots.svg");
}

.action-savings,.action-withdrawal {
    background-image: url("@/assets/svgs/action-savings.svg");
}
.action-money {
    background-image: url("@/assets/svgs/action-money.svg");
}
.action-invest {
    background-image: url("@/assets/svgs/action-invest.svg");
}
.action-mortgage {
    background-image: url("@/assets/svgs/action-mortgage.svg");
}

.action-payout {
    background-image: url("@/assets/svgs/payout.svg");
}

.location {
    background-image: url("@/assets/svgs/location.svg");
}
.action-withdraw {
    background-image: url("@/assets/svgs/withdraw.svg");
}
.heart {
    background-image: url("@/assets/svgs/heart.svg");
}
.active-heart {
    background-image: url("@/assets/svgs/active-heart.svg");
}

.eyes {
    background-image: url("@/assets/svgs/eyes.svg");
}


/* Dashboard Account Icons */

.wallet {
    background-image: url("@/assets/svgs/wallet.svg");
}
.wallet-minus {
    background-image: url("@/assets/svgs/wallet-minus.svg");
}
.wallet-add {
    background-image: url("@/assets/svgs/wallet-add.svg");
}
.account-download {
    background-image: url("@/assets/svgs/account-download.svg");
}
.transactions {
    background-image: url("@/assets/svgs/action-savings.svg");
}

.delete {
    background-image: url("@/assets/svgs/delete.svg");
}