$color-abode-teal-bg: #ECFCFF;
$color-abode-teal-regular: #02B8CF;
$color-abode-teal-light:  #0593A5;
$color-abode-teal-grey:  #12313A;
$color-dashboard-color: #B1D5EA;
$color-abode-orange:  #F26B35;
$color-white: #ffffff;
$color-dark: #151616;
$border-radius-lg: 26px;
$border-radius-sm: 7px;
$font-satoshi: "Satoshi";


/* Dashboard Colors */

$dash-light-blue: #D6F0FF;
$dashboard-text: #151616;
$dash-primary-text: #0F70A7;
$dash-primary-paragraph: rgba(242, 107, 53, 0.06);
$dash-abode-color: #02B8CF;

$dash-red: #f26b35;
$dash-green: #0FCF8A;
$dash-yellow: #F2A635;
$dash-purple: #7D35F2;


$dash-title: #06486D;
$dash-disabled: #F4F7FF;
$dash-acd-footer: #02B8CF;
$dash-acd-text: #7B9CAF;
$dash-ac-footer: #c8ebff;

$dash-acdc: #EDFCFF;
$dash-acdc-text: #0A5A87;

/*  */
$flat-bg: #F4F7FF;

$teal: #0F4C59;
$btn-prim: rgba(5, 147, 165, 1);
$btn-orange: linear-gradient(113.11deg, #FF8F63 14.71%, #F26B35 100.23%);

$fw-700: 700;
$fw-500: 500;
$fw-400: 400;