$color-abode-teal-bg: #ECFCFF;
$color-abode-teal-regular: #02B8CF;
$color-abode-teal-light:  #0593A5;
$color-abode-orange:  #F26B35;
$color-white: #ffffff;
$color-dark: #151616;
$border-radius-lg: 26px;
$border-radius-sm: 7px;
$font-satoshi: "Satoshi";

$fw-700: 700;
$fw-500: 500;
$fw-400: 400;