.dashboard__layout__wrapper {
    height: 100vh;
    overflow: hidden;

    background-color: #F3F5F8;

    display: flex;
    color: $color-dashboard-color;

    .dashboard__sidebar {
        background-color: $color-abode-teal-grey;
        width: calc(1444px - 1168px);
        
        .logo-container {
            width: 117px;
            height: 28px;

            margin-bottom: 40px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            .menu__list {
                margin-bottom: 14px;

                .menu__link {
                    display: flex;
                    padding: 16px 14px;
                    column-gap: 24px;

                    &:hover, &.router-link-exact-active {
                        background: #1A4451;
                        border-radius: 7px;

                        .dashboard {
                            background-image: url("@/assets/svgs/dashboard-active.svg");
                        }
                        .assets {
                            background-image: url("@/assets/svgs/assets-active.svg");
                        }
                        .savings {
                            background-image: url("@/assets/svgs/savings-active.svg");
                        }
                        .marketplace {
                            background-image: url("@/assets/svgs/marketplace-active.svg");
                        }
                        .profile {
                            background-image: url("@/assets/svgs/profile-active.svg");
                        }

                    }
                }
            }
        }
        padding: 18px 36px;
    }

    .dashboard__content {
        width: calc(100vw - 276px);
        color: $color-dark;

        .top__header {
            background-color: $color-white;
            height: 68px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // column-gap: 717px;
                padding: 0 21px;
                padding-right: 30px;

                .left {
                    display: flex;
                    align-items: center;
                    column-gap: 14px;

                    .active_route {
                        h4 {
                            font-size: 1em;
                            font-weight: 700;
                        }
                    }

                    .last-login {
                        display: flex;

                        span {
                            font-size: 0.875em;
                            color: $color-abode-teal-light;
                            &.bold {
                                font-weight: 500;
                            }
                        }
                    }
                }

                .right {
                    display: flex;
                    align-items: center;
                    align-self: flex-end;

                    .-icon {
                        width: 32px;
                        height: 32px;

                        &.sm {
                            width: 10px;
                            height: 5px;
                        }
                    }
                    .avatar__root {
                        display: inline-block;
                        width: 37px;
                        height: 37px;
                        border-radius: 50%;
                        margin-left: 38px;
                        margin-right: 10px;

                        .avatar__img {
                            border-radius: 50%;
                            object-fit: cover; 
                        }
                    }
                }
            }
        }

        .content {
            margin-top: 98px;
            width: 1116px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}